* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background: #4776e6;
  background: linear-gradient(to right, #8e54e9, #4776e6);
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  min-height: 100vh;
}

input {
  padding: 0.5rem;
  font-size: 2rem;
  min-width: 30%;
  border: none;
}

p {
  padding: 0.5rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  padding-top: 10%;
}

.temp-celcius,
.temp-fahrenheit {
  flex: 1 1 auto;
  margin: 0.5rem;
}

.normal,
.hot,
.cold {
  margin-top: 5%;
  text-align: center;
  font-size: 5rem;
  padding-bottom: 2vh;
  border-radius: 20px;
}

.dupa {
}
.normal {
  background-color: rgba(255, 255, 255, 0.5);
}

.hot {
  background-color: rgba(253, 0, 0, 0.5);
}

.cold {
  background-color: rgba(0, 225, 255, 0.5);
}
